@font-face {
  font-family: "GROBOLD";
  src: local("GROBOLD"),
  url("../styles/GROBOLD.ttf") format("truetype");
}



html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  background-color: #140B00;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #e7e8e8;
  background: #0f1318;
}
